.preview {
  margin-top: 2rem;
  width: 70%;
}

.preview-label {
  margin-top: 1rem;
}

.preview-content {
  background: white;
  box-shadow: 0px 30px 80px rgba(134, 158, 174, 0.15);
  padding: 30px;
  margin-top: 15px;
}

.preview-emoji {
  padding: 1rem; 
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #000;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.preview-emoji-img {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

.preview-feedback {
  font-size: 24px;
  margin: 1rem 0rem 1rem 0rem;
  min-height: 4rem;
  overflow-wrap: break-word;
}

.placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.number-placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.preview-party {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.people-dined-here {
  margin-left: 0.3em;
}


@media (orientation: portrait) {

  .preview {
    width: 90%;
    margin-top: 11px;
  }

  .preview-content {
    margin-bottom: 27px;
  }

}